body
{
    background-color:#303030;
	color:#000 /* #0d8187*/;
}



/*@font-face{ 
	font-family: 'MyWebFont';
	src: url('assets/fonts/web WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}*/

header
{
	width: 100vh;
	height: 20vh;

}

.logo
{
	float: left;
	width: auto;
	height: auto;
}

.formulaire
{
	width: 100vh;
	height: 100%;
	background-color:#FFF ;
	border: #0d8187 5px solid;
	padding-right: 80px;
	padding-top: 0.5px;
}

.inputText
{
	width: 20vh;
}

textarea
{
	width: 60vh;
	height: 25vh;
}